.headerBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.headerLinks {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.logoLink span {
  color: var(--primary);
  transition: all 0.5s ease;
}

.logoLink:hover {
  transform: scale(1.1);

  span {
    color: var(--secondary);
  }
}

.link {
  font-size: 1.6rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.link:hover {
  transform: scale(1.1);
  filter: brightness(60%);
}

.divisorLine {
  width: 100%;
  height: 1.5px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary),
    transparent
  );
}
