@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
:root {
  --background1: #030303;
  --background2: #020617;
  --text-color: #ece5e5;
  --primary: #6274e0;
  --secondary: #adffff;
  --accent: #2438bd;
  --surface: #241571;
  --border: #4255b2;
  --box-shadow-color: rgb(173, 255, 255, 0.5);

  --redColor: #ff0000;
  --darkRedColor: #9b0303;
  --greenColor: #03e403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Geist", Helvetica;
  background: linear-gradient(
    to bottom,
    var(--background1),
    var(--background2)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--text-color);
}

button {
  cursor: pointer;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}
